<h1>Lists list</h1>

<ul>
  <% @lists.each do |list| %>
    <li> <%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<ul>
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.submit %>
<% end %>
</ul>



<%= cl_image_tag("yr3kbtrvwhi7a3r63xaw",
      width: 400, height: 300, crop: :fill) %>
